body{
  background: #333;
  color:#fff;
  font-family: helvetica, arial, sans-serif;
}

h1{
  color: #fff;
  font-size:3em;
  font-family: 'Lobster Two', cursive;
}

#map{
  width:500px;
  height:500px;
  border: 10px solid #bbb;
}

#user {margin-bottom: 5px;}
#user input {padding:3px 5px; width:520px; font-size:14px;}
div.your-location {background:#bbb; color:#333; padding:0 5px 5px 5px; width:510px; font-size:12px;}
